 

/* The container sets the width as a percentage of the browser window and margin 0 auto centers the page
 Note that all measurements are in relative units*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: .8em;
    color: #ffffff;
}

.menu {
    width: 100%;
    position: fixed;
}

.about-text {
    padding: 0em 1.5em 0em 1.5em;
}
.top-space {
    padding: 5.5em 0 0 0;
}

.top-space-work {
    padding: 6.25em 0 0 0;
}

.photo-menu {
    display: inline-block;
    position: fixed;
    background-color: #2C3740;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #596e7f;
    font-size: 1.8em;
    padding: .4em 0 .4em 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    font-size: 1.4em;
    padding: .4em 0 .4em 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.2em;
    margin: 1em 0 1em 0;
}

/*This sets the maximum width of the image to no more than the containing element*/
img {
    max-width: 100%;
}

/*Start of Nav menu*/

 /*This sets the font size and removes the default bullets from the ul list. Also sets the overall with of the ul as a percentage of the containing element*/
nav ul {
    margin: 0;
    padding: 1% 0 1% 0;
    overflow: hidden;
    width: 100%;
    font-size: 1.2em;
    
    background-color:#2C3740;
    list-style-type: none;
    margin: 0;
    padding: .15em 0em .15em 0em;
    /* Above changes were via w3schools on making horizontal navbars */
}

/*This sets the list items to display as blocks, with links within each list item floating next to each other within each block with a right margin to seperate each block*/
nav ul li {
    display: inline;
    padding: 1% 0 1% 0;
    margin: 0 0 0 0%;
}

/*Sets each a link to display as block. Sets the color of the background of blocks and text and centers text in box*/
nav ul li a {
    display:block;
    display: inline;
    
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
    text-align:center;
}

a {
    display: block;
    padding: 1.8%;
    /* Above changes were via w3schools on making horizontal navbars */
}

a:link {
    color: #ffffff;
}

a:hover { 
    color: #bfaf83; 
}

a:active {
    color: #596E7F;
}

/* END nav MENU */

/*List of office hours*/
ul li {
    font-family: 'Roboto';
    line-height: 1.4em;
    margin-left: 3em;
}